

.catalog h1 {
    color: black;


}

.product {
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    text-align: center;

    
    

}
.list-container {
    display: flex;
    color: black;
    min-width: auto;
    




}



