

.footer {
    display:flex;
    background-color: rgba(179, 171, 132, 0.619);
    justify-content: center;
    margin-top: 470px;
    
    

    

}
.footer .year,
.footer .name {
    font-size: larger;
    color: white;
    font-weight: 500;
    padding: 10px;
    
    
   


}

