

.footer {
    border: 1px solid purple;
    background-color: gray;
    

}
.footer .year{
    color: blue;
    flex: 1;


}

.footer .name {
    color: green;
    display: flex;
    align-items: flex-start;
}